<!DOCTYPE html>
<html lang="en">

<head>
	<title>JBD Enterprises - Employee</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">My project</a>

			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li th:classappend="${module == 'home' ? 'active' : ''}">
						<a href="#" th:href="@{/}">Home</a>
					</li>
					<li th:classappend="${module == 'tasks' ? 'active' : ''}">
						<a href="#" th:href="@{/task}">Work Log</a>
					</li>
				</ul>
			</div>


		</div>
	</div>
	<h2>My Details:</h2>
	<div class="container">
		<h2>Condensed Table</h2>
		<table border="1" class="table table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Department</th>
					<th>Roles</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee: ${employees}">
					<td th:text="${employee.empID}" />
					<td th:text="${employee.empName}" />
					<td th:text="${employee.empEmail}" />
					<td th:text="${employee.empDepartment}" />
					<td th:text="${employee.empRole}" />
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>